[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = python script that records IP segment info like uptime/downtime, in DNS?, UP/DN, etc. to determine if IP can be used
[access "refs/*"]
	owner = group user/m75abrams
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/m75abrams
	label-Verified = -1..+1 group user/m75abrams
	push = group user/m75abrams
	read = group user/m75abrams
	rebase = group user/m75abrams
	removeReviewer = group user/m75abrams
	submit = group user/m75abrams
[access "refs/heads/*"]
	create = group user/m75abrams
	push = +force group user/m75abrams
	pushMerge = group user/m75abrams
	read = group user/m75abrams
[access "refs/tags/*"]
	push = group user/m75abrams
	push = +force group user/m75abrams
